:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%)100%)1;
  --youtube: hsl(348, 97%, 39%);
  --white: hsl(0, 0%, 100%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --light-grayish-blue: hsl(227, 47%, 96%);
  --dark-grayish-blue: hsl(228, 12%, 44%);
  --very-dark-blue: hsl(230, 17%, 14%);
  --toggle-light: hsl(230, 22%, 74%)
; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: 'Inter', sans-serif; }
  html::before {
    content: "";
    width: 100vw;
    height: 250px;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--very-pale-blue);
    position: absolute; }

body {
  margin: 0;
  padding: 20px 10px;
  background-color: var(--white); }

.header {
  width: 90%;
  margin: auto; }
  @media screen and (min-width: 1024px) {
    .header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 85%;
      margin-top: 1rem; } }
  .header__title {
    font-size: 20px;
    color: var(--very-dark-blue);
    margin: 5px 0; }
    @media screen and (min-width: 1024px) {
      .header__title {
        font-size: 35px; } }
  .header__subtitle {
    font-size: 14px;
    margin: 0;
    color: var(--dark-grayish-blue); }
  .header__titles {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .header__titles {
        width: 60%; } }

.dark-mode-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid var(--dark-grayish-blue);
  max-width: 100%;
  margin-top: 25px;
  padding-top: 25px; }
  @media screen and (min-width: 1024px) {
    .dark-mode-container {
      border-top: none;
      width: 15%;
      margin: 0;
      padding: 0; } }

.switch {
  width: 45px;
  height: 23px;
  border-radius: 20px;
  border: none;
  background-color: var(--toggle-light);
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none; }
  .switch::before {
    content: "";
    background-color: var(--light-grayish-blue);
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-left: 3px;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease; }
  .switch--active::before {
    -webkit-transform: translateX(21px);
        -ms-transform: translateX(21px);
            transform: translateX(21px); }

.first-row {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 25px;
  margin-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 600px) {
    .first-row {
      grid-template-columns: repeat(2, 1fr);
      width: 90%; } }
  @media screen and (min-width: 1024px) {
    .first-row {
      grid-template-columns: repeat(4, 1fr);
      width: 85%; } }

.card {
  width: 80vw;
  margin: auto;
  background-color: var(--light-grayish-blue);
  height: 200px;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--dark-grayish-blue); }
  @media screen and (min-width: 600px) {
    .card {
      width: 100%; } }
  .card-facebook {
    border-top: 5px solid var(--facebook); }
  .card-twitter {
    border-top: 5px solid var(--twitter); }
  .card-instagram {
    border-top: 5px solid transparent;
    -webkit-border-image: var(--instagram);
            border-image: var(--instagram);
    border-radius: 5px; }
  .card-youtube {
    border-top: 5px solid var(--youtube); }
  .card__title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: 700; }
  .card__user {
    margin-left: 5px; }
  .card__number {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 5px;
    color: var(--very-dark-blue); }
  .card__text {
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 14px;
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    margin-bottom: 15px; }
  .card__status {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px; }
    .card__status span {
      margin-left: 4px; }
    .card__status--up {
      color: var(--lime-green); }
    .card__status--down {
      color: var(--bright-red); }
