<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Social Media Dashboard
        link(rel="shortcut icon", href="assets/img/favicon-32x32.png", type="image/x-icon")
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/styles-min.css")
    body
        header.header
            .header__titles
                h1.header__title Social Media Dashboard
                h2.header__subtitle Total Followers: 23,004
            .dark-mode-container
                label: h2.header__subtitle Dark Mode
                button#switch.switch(aria-label="Dark Theme")
        .row.first-row
            .card.card-facebook
                .card__title
                    img(src="assets/img/icon-facebook.svg", alt="Facebook").card__icon
                    .card__user @nathanf
                .card__content
                    .card__number 1987
                    .card__text Followers
                    .card__status.card__status--up
                        img(src="assets/img/icon-up.svg", alt="Up")
                        span 12 Today

            .card.card-twitter
                .card__title
                    img(src="assets/img/icon-twitter.svg", alt="Twitter").card__icon
                    .card__user @nathanf
                .card__content
                    .card__number 1044
                    .card__text Followers
                    .card__status.card__status--up
                        img(src="assets/img/icon-up.svg", alt="Up")
                        span 99 Today
            
            .card.card-instagram
                .card__title
                    img(src="assets/img/icon-instagram.svg", alt="Instagram").card__icon
                    .card__user @realnathanf
                .card__content
                    .card__number 11k
                    .card__text Followers
                    .card__status.card__status--up
                        img(src="assets/img/icon-up.svg", alt="Up")
                        span 1099 Today
            
            .card.card-youtube
                .card__title
                    img(src="assets/img/icon-youtube.svg", alt="Youtube").card__icon
                    .card__user Nathan F.
                .card__content
                    .card__number 8239
                    .card__text Subscribers
                    .card__status.card__status--down
                        img(src="assets/img/icon-down.svg", alt="Down")
                        span 144 Today
        
        article.row.second-row
            h2.second-row__title Overview - Today
            .card.card--small
                .card__title.card__title--small
                    .card__user Page Views
                    img(src="assets/img/icon-facebook.svg", alt="Facebook").card__icon.card__icon--small
                .card__content.card__content--small
                    .card__number.card__number--small 87
                    .card__status.card__status--up.card__status--small
                        img(src="assets/img/icon-up.svg", alt="Up")
                        span 3%

            .card.card--small
                .card__title.card__title--small
                    .card__user Likes
                    img(src="assets/img/icon-facebook.svg", alt="Facebook").card__icon.card__icon--small
                .card__content.card__content--small
                    .card__number.card__number--small 52
                    .card__status.card__status--down.card__status--small
                        img(src="assets/img/icon-down.svg", alt="Down")
                        span 2%

            .card.card--small
                .card__title.card__title--small
                    .card__user Likes
                    img(src="assets/img/icon-instagram.svg", alt="Instagram").card__icon.card__icon--small
                .card__content.card__content--small
                    .card__number.card__number--small 5462
                    .card__status.card__status--up.card__status--small
                        img(src="assets/img/icon-up.svg", alt="Up")
                        span 2257%

            .card.card--small
                .card__title.card__title--small
                    .card__user Profile Views
                    img(src="assets/img/icon-instagram.svg", alt="Instagram").card__icon.card__icon--small
                .card__content.card__content--small
                    .card__number.card__number--small 52k
                    .card__status.card__status--up.card__status--small
                        img(src="assets/img/icon-up.svg", alt="Up")
                        span 1375%

            .card.card--small
                .card__title.card__title--small
                    .card__user Retweets
                    img(src="assets/img/icon-twitter.svg", alt="Twitter").card__icon.card__icon--small
                .card__content.card__content--small
                    .card__number.card__number--small 117
                    .card__status.card__status--up.card__status--small
                        img(src="assets/img/icon-up.svg", alt="Up")
                        span 303%

            .card.card--small
                .card__title.card__title--small
                    .card__user Likes
                    img(src="assets/img/icon-twitter.svg", alt="Twitter").card__icon.card__icon--small
                .card__content.card__content--small
                    .card__number.card__number--small 507
                    .card__status.card__status--up.card__status--small
                        img(src="assets/img/icon-up.svg", alt="Up")
                        span 553%

            .card.card--small
                .card__title.card__title--small
                    .card__user Likes
                    img(src="assets/img/icon-youtube.svg", alt="Youtube").card__icon.card__icon--small
                .card__content.card__content--small
                    .card__number.card__number--small 107
                    .card__status.card__status--down.card__status--small
                        img(src="assets/img/icon-down.svg", alt="Down")
                        span 19%

            .card.card--small
                .card__title.card__title--small
                    .card__user Total Views
                    img(src="assets/img/icon-youtube.svg", alt="Youtube").card__icon.card__icon--small
                .card__content.card__content--small
                    .card__number.card__number--small 1407
                    .card__status.card__status--down.card__status--small
                        img(src="assets/img/icon-down.svg", alt="Down")
                        span 12%
        script(src="js/scripts-min.js")