.header {
    width: 90%;
    margin: auto;

    @include laptop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        margin-top: 1rem;
    }

    &__title {
        font-size: 20px;
        color: var(--text-second);
        margin: 5px 0;

        @include laptop {
            font-size: 35px;
        }
    }

    &__subtitle {
        font-size: 14px;
        margin: 0;
        color: var(--text);
    }

    &__titles {
        width: 100%;

        @include laptop {
            width: 60%;
        }
    }
}

.dark-mode-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--text);
    max-width: 100%;
    margin-top: 25px;
    padding-top: 25px;

    @include laptop {
        border-top: none;
        width: 15%;
        margin: 0;
        padding: 0;
    }
}

.switch {
    width: 45px;
    height: 23px;
    border-radius: 20px;
    border: none;
    background-color: var(--toggle-background);
    padding: 0;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;

    &::before {
        content: "";
        background-color: var(--card-background);
        display: block;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        margin-left: 3px;
        transition: transform .3s ease;
    }

    &--active {
        background-image: var(--toggle-background);

        &::before {
            transform: translateX(21px);
            background-color: var(--card-background);
        }
    }

    &:hover {
        background-image: linear-gradient(to right, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%)100%);
    }
}