.row {
    width: 100%;
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
        width: 80%;
    }
}

.first-row {
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 25px;
    margin-top: 40px;

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include laptop {
        grid-template-columns: repeat(4, 1fr);
    }
}

.second-row {
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);

    &__title {
        grid-column: 1 / -1;
        color: var(--text);
        margin-top: 40px;
        margin-bottom: 0;
    }

    @include tablet {
        grid-template-columns: repeat(2, 1fr);
    }

    @include laptop {
        grid-template-columns: repeat(4, 1fr);
    }
}